.arrow_box {
    position: relative;
    max-width: 480px;
    background: #F3F0FF;
    padding: 10px;
    text-align: left;
    border: 3px solid #150AFF;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    word-break: break-all;
}

.arrow_box:after, .arrow_box:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
}

.arrow_box:after {
    border-color: rgba(243, 240, 255, 0);
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 26px;
    border-right-width: 26px;
    margin-top: -5px;
    border-right-color: #F3F0FF;
}

.arrow_box:before {
    border-color: rgba(21, 10, 255, 0);
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 41px;
    border-right-width: 41px;
    margin-top: -8px;
    margin-right: 3px;
    border-right-color: #150AFF;
}

.form-center {
    transform: translateY(-50%)
}